@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
*{

    font-family: 'Source Sans Pro', arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
}
body {
    background-image: linear-gradient(to bottom, #C6AC8F, #22333B);
    background-attachment: fixed;   
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0a0908a1;
    width: 650px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
}

h1 {
    font: normal 3em 'Kaushan Script';
    text-align: center;
}

h2 {
    font: normal 2em 'Kaushan Script';
    text-align: center;
}

img {
    border-radius: 10px;
    width: 175px;
}